.Navbar {
  background-color: #fff;
  width: 100%;
  height: 10vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 1px 5px grey;
  -moz-box-shadow: 0px 1px 5px grey;
  box-shadow: 0px 1px 5px grey;
}

.Navbar .leftside {
  flex: 20%;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
  color: grey;
}
.Navbar .rightside .logo {
  max-height: 80px;
}
.Navbar .rightside .logo h1 {
  font-weight: bold;
  font-size: 25px;
}
.Navbar .rightside {
  /* border: 1px solid blue; */
  flex: 80%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.Navbar .rightside .links {
  max-height: 80px;
}

.Navbar .rightside #hidden {
  display: flex;
}
.Navbar .rightside .links a {
  text-decoration: none;
  font-size: 15px;
  color: grey;
  font-weight: bold;
  margin-left: 20px;
}
.Navbar .rightside button {
  display: none;
  position: absolute;
  right: 25px;
}

@media only screen and (max-width: 875px) {
  .Navbar .rightside .links a {
    font-size: 10px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .Navbar .rightside .links a {
    font-size: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 560px) {
  .Navbar .rightside button {
    display: flex;
  }

  .Navbar .rightside .links {
    display: none;
  }

  .Navbar .rightside #hidden {
    position: absolute;
    left: 0px;
    top: 60px;
    height: 260px;
    max-height: 260px;
    width: 100%;
    background-color: #fff;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }

  .Navbar .rightside #hidden a {
    margin: 10px;
    font-size: 15px;
  }
  .Navbar .leftside {
    margin-left: 20px;
  }
}
